@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Coming+Soon|Gamja+Flower&display=swap&subset=korean');

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
em,
img,
small article,
aside,
footer,
header,
nav,
address,
section,
main,
time,
ol,
ul,
li,
hr,
strong,
figure,
tr,
th,
td,
dl,
dt,
dd,
fieldset {
  font-style: normal;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-text-size-adjust: none;
}

img {
  vertical-align: top;
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

[tabindex='-1']:focus {
  outline: 0 !important;
}

ul,
ol,
li,
dl {
  list-style: none;
}

a:link,
a:visited,
a:hover,
a:active {
  font-family: 'Gamja Flower', cursive;
  font-size: inherit;
  text-decoration: none;
  letter-spacing: inherit;
  outline: 0;
  color: inherit;
}

a,
button {
  -webkit-tap-highlight-color: rgba(238, 186, 186, 0.4);
}

hr {
  display: none;
}

button {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-family: 'Gamja Flower', cursive;
  border: 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  background: none;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

i {
  font-style: normal;
}

a,
area,
button,
[role='button'],
input:not([type='range']),
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

table {
  border-collapse: collapse;
}

th {
  text-align: inherit;
}

input {
  width: 100%;
  font-family: 'Gamja Flower', cursive;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  -webkit-border-radius: 0px;
  border-radius: 0;
  box-sizing: border-box;
  vertical-align: top;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
}

html {
  position: relative;
  min-width: 100%;
  width: 100%;
  min-height: 100%;
  height: 100%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  /* scroll-behavior: smooth; */
  font-size: 10px;
  font-weight: 500;
}

body {
  position: relative;
  min-width: 280px;
  min-height: 100%;
  height: 100%;
  overflow-y: auto;
  font-family: 'Gamja Flower', cursive;
  color: #000;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  background-color: #fff;
  /* scroll-behavior: smooth; */
}

body.scroll-lock {
  overflow: hidden;
}

/* Common */

.grid {
  width: 960px;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.ls-tablet {
  display: none;
}

.ls-mobile {
  display: none;
}

.section {
  position: relative;
  top: 50px;
  opacity: 0;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.section.loaded {
  top: 0;
  opacity: 1;
}

.sub-title {
  position: relative;
  font-size: 15px;
  padding-top: 10px;
  margin-bottom: 20px;
}

.sub-title::before {
  position: absolute;
  top: 0;
  left: 50%;
  content: '';
  display: block;
  width: 50px;
  height: 1px;
  margin-left: -25px;
  background-color: #000;
}

.default-position-style-top-center {
  width: 90% !important;
  max-width: 400px !important;
}

.notification.default-notification-style {
  width: 100%;
  font-family: 'Gamja Flower', cursive;
  font-size: 15px !important;
  text-align: center !important;
  margin: 12px 0;
}

.notification .default-notification-style-content {
  width: calc(100% - 40px) !important;
}

@media (max-width: 1200px) {
  .grid {
    width: 769px;
    margin: 0 auto;
  }
}

@media (max-width: 1023px) {
  html,
  body {
    font-size: 8px;
  }

  .ls-tablet {
    display: block;
  }
}

@media (max-width: 768px) {
  html,
  body {
    font-size: 6px;
  }

  .grid {
    width: 100%;
  }

  .ls-mobile {
    display: block;
  }
}
